@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Orbitron:wght@500&family=Quicksand:wght@300&display=swap");
html, body {
  padding: 0;
  margin: 0;

}

body {
  /* font-family: "DotGothic16", sans-serif; */
  font-family: "Orbitron", sans-serif;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Raleway', Arial, sans-serif; */
  background-color: #161616;
  color: rgb(250, 94, 38);
  text-shadow: 0 0 .75rem rgba(250, 94, 38, 0.576);
  letter-spacing: .23rem;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


nav {
  position: fixed;
  background-color: #003a45;
  color: rgb(250, 94, 38);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid thick rgb(0, 0, 0);
  width:100%;
  padding-top: 0;
  /* margin-bottom:10rem; */
}

#navbarRight {
  padding-right: 5em;
}

#navbarLeft {
  padding-left: 5em;
}

.about {
  padding-left: 3em;
  padding-right: 3em;
}

.aboutContainer {
  border: thin solid rgb(38, 253, 0);
  padding-top: 6rem;
  overflow: hidden;
  margin:1rem;
  margin-top: 0;
  /* margin-right: 2rem; */
  display: flex;
  flex-direction: column;
}

#outerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}